<h1> RPS 2016 </h1> 

<form action="/" method="POST">
	<input type= "text" name="name" placeholder="Player One's Name">
	<input type= "text" name="name2" placeholder="Player Two's Name">
	
<h3> Player 1 Choice </h3> 


  <input type="radio" name="player_one" value="rock"> rock<br>
  <input type="radio" name="player_one" value="paper"> paper <br>
  <input type="radio" name="player_one" value="scissors"> scissors <br> 

<h3> Player 2 Choice </h3> 


  <input type="radio" name="player_two" value="rock"> rock<br>
  <input type="radio" name="player_two" value="paper"> paper <br>
  <input type="radio" name="player_two" value="scissors"> scissors <br> 

<input type= "submit" value= "Go!">
</form>

