<h1> RPS 2016 </h1> 

<form action="/" method = "POST">
	<input type= "text" name="name">
	<input type= "text" name="name2">
	


</form>


<form action="/" method = "POST">
<h3> Player 1 Choice </h3> 

<form action="">
  <input type="radio" name="rock" value="rock"> rock<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>

